.mat-tab-group {
    margin-bottom: 48px;
  }
  .expression1{
    background-color: blue;
  }
  .bookmarked {
    background-color: #646257; /* Change this to your desired color */
    color: #ffffff; /* Change this to your desired text color */
  }
  